@page
@model SimpleBlog.Pages.AdminModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin";
}

<div class="page-title-small">
    <div class="container">
        <h1>Posts</h1>
    </div>
</div>

<div class="container page-body">
    <a class="btn btn-primary" role="button" asp-page="/adminarticle">Add post</a>
    <table class="table mt-3">
        <thead class="thead-light">
            <tr>
                <th scope="col">URL</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td><a asp-page="/blogarticle" asp-route-id="@article.Id">@article.Id</a></td>
                    <td><a asp-page="/adminarticle" asp-route-id="@article.Id">@article.Title</a></td>
                    <td>@article.Created</td>
                </tr>
            }
        </tbody>
    </table>
</div>

