@page "/admin/article/{id?}"
@model SimpleBlog.Pages.AdminArticleModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Article";
}

@section Scripts {
    <script src="~/js/site.js"></script>
}

<div class="page-title-small">
    <div class="container">
        <h1>Add new post</h1>
    </div>
</div>

<div class="container page-body">
    <p>
        <a asp-page="/admin">Back to Posts</a>
    </p>
    <h3>Images</h3>
    <form method="post">
        <table class="table mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col">File name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.Images)
                {
                    <tr>
                        <td><a href="/blogimages/@Model.ArticleId/@file" target="_blank" rel="noopener noreferrer">@file</a></td>
                        <td>
                            <ul class="list-inline">
                                <li><a href="javascript:addImageReferenceToTextArea('Body','@Model.ArticleId','@System.IO.Path.GetFileNameWithoutExtension(file)','@file')">Add reference to markdown</a></li>
                                <li><button type="submit" class="btn btn-link button-link-with-links" asp-page-handler="DeleteImage" asp-route-fileName="@file">Delete</button></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control" type="file" asp-for="UploadImages" multiple />
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Image">Upload image</button>
    </form>
    <h3 class="mt-4">Post</h3>
    <form method="post">
        <div class="form-group">
            @Html.LabelFor(m => m.ArticleId)
            @if (string.IsNullOrEmpty(Model.ArticleId))
            {
                @Html.TextBoxFor(m => m.ArticleId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ArticleId, "", new { @class = "text-danger" })
            }
            else
            {
                @Html.TextBoxFor(m => m.ArticleId, new { @class = "form-control", @readonly = "readonly" })
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Body)
            @Html.TextAreaFor(m => m.Body, 30, 0, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Tags)
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form-check">
            @Html.CheckBoxFor(m => m.Published, new { @class = "form-check-input" })
            @Html.LabelFor(m => m.Published, new { @class = "form-check-label" })
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Data">Save</button>
    </form>
</div>
