@page "/blog/{id}"
@model SimpleBlog.Pages.ArticleModel
@{
}

@section Styles {
    <link href="~/libs/highlight/styles/vs.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/libs/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}

<main>
    <section class="page-title">
        <div class="container">
            <h1 class="display-4">@Model.Title</h1>
        </div>
    </section>
    <section class="page-title-bottom py-1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="mb-0">@Html.DisplayFor(m => m.Created)</p>
                </div>
                <div class="col-9 text-right">
                    @if (Model.Tags != null && Model.Tags.Count > 0)
                    {
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">Tags</li>
                            @foreach (var tag in Model.Tags)
                            {
                                <li class="list-inline-item"><a asp-page="/blogtag" asp-route-tag="@tag">@tag</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="container pt-3">
        @if (User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-primary" role="button" asp-page="/adminarticle" asp-route-id="@Model.Id">Edit this article</a></p>
        }
        @Html.Raw(Model.HtmlBody)
    </section>
</main>
