@page "/blog/tag/{tag}"
@model SimpleBlog.Pages.BlogTagModel
@{
    ViewData["Title"] = "Blog";
}

<div class="page-title">
    <div class="container">
        <h1 class="display-4">Tag: @Model.Tag</h1>
    </div>
</div>
<div class="container page-body">
    <h4>@Model.Tag has @Model.Articles.Count articles</h4>
    <ul class="list-unstyled mt-3">
        @foreach (var article in Model.Articles)
        {
            <li>@article.Created.ToString("dd/mm/yyyy") <a asp-page="/blogarticle" asp-route-id="@article.Id">@article.Title</a></li>
        }
    </ul>
</div>