@using SimpleBlog.Repositories

@inject ISiteConfigurationRepository configRepository
@{ 
    var config = await configRepository.GetAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@config.Title - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/index">@config.Title</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-page="/admin">Admin</a>
                            </li>
                        }
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-page="/page" asp-route-id="about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-page="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid pb-3 px-0">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Copyright 2020, <a asp-area="" asp-page="/index">@config.Owner</a>. Powered by <a href="https://github.com/anmalkov/simple-blog">SimpleBlog v0.1</a> on <a href="https://dotnet.microsoft.com/download/dotnet/5.0">.NET @Environment.Version</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
