@page "/admin/pages"
@model SimpleBlog.Pages.AdminPagesModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Pages";
}

<div class="page-title-small">
    <div class="container">
        <h1>Pages</h1>
    </div>
</div>

<div class="container page-body">
    <a class="btn btn-primary" role="button" asp-page="/adminpage">Add page</a>
    <form method="post">
        <table class="table mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pageItem in Model.Pages)
                {
                    <tr>
                        <td><a asp-page="/page" asp-route-id="@pageItem.Id">@pageItem.Id</a></td>
                        <td><a asp-page="/adminpage" asp-route-id="@pageItem.Id">@pageItem.Title</a></td>
                        <td><button type="submit" class="btn btn-link button-link-with-links" asp-page-handler="DeletePage" asp-route-id="@pageItem.Id">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

