@page "/admin"
@model SimpleBlog.Pages.AdminModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin";
}

<div class="page-title-small">
    <div class="container">
        <h1>Posts</h1>
    </div>
</div>

<div class="container page-body">
    <a class="btn btn-primary" role="button" asp-page="/adminarticle">Add post</a>
    <form method="post">
        <table class="table mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Published</th>
                    <th scope="col">Views</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.Articles)
                {
                    <tr>
                        <td><a asp-page="/blogarticle" asp-route-id="@article.Id">@article.Id</a></td>
                        <td><a asp-page="/adminarticle" asp-route-id="@article.Id">@article.Title</a></td>
                        <td>@article.Created</td>
                        <td>@article.Published</td>
                        <td>@article.ViewsCount</td>
                        <td>@article.CommentsCount</td>
                        <td><button type="submit" class="btn btn-link button-link-with-links" asp-page-handler="DeleteArticle" asp-route-id="@article.Id">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

