@page "admin/config/menuitem/{title?}"
@model SimpleBlog.Pages.AdminMenuModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Menu Item";
}

<div class="page-title-small">
    <div class="container">
        <h1>Add new menu item</h1>
    </div>
</div>

<div class="container page-body">
    <p>
        <a asp-page="/adminconfig">Back to Config</a>
    </p>
    <form method="post">
        <div class="form-group">
            @Html.LabelFor(m => m.Order)
            @Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MenuTitle)
            @Html.TextBoxFor(m => m.MenuTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MenuTitle, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MenuUrl)
            @Html.TextBoxFor(m => m.MenuUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MenuUrl, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
