@page "/blog/category/{tag}"
@model SimpleBlog.Pages.BlogTagModel
@{
    ViewData["Title"] = $"Posts about {Model.Tag}";
}

<div class="page-title mb-3">
    <div class="container">
        <h1 class="display-4">Category: @Model.Tag</h1>
    </div>
</div>
<div class="container page-body">
    <h4>@Model.Tag has @Model.Articles.Count posts</h4>
    <ul class="list-unstyled mt-3">
        @foreach (var article in Model.Articles)
        {
        <li>@article.Created.ToString("MMMM dd, yyyy") <a asp-page="/blogarticle" asp-route-id="@article.Id">@article.Title</a></li>
        }
    </ul>
</div>